table{
    background-color: gainsboro;
    text-wrap: normal;
}

th{
    
    background-color: background;
}

h1{
    
    color: blue;
}

tr:nth-of-type(odd) {
    background-color: #AAA;
}
tr:nth-of-type(even) {
    background-color: #EEE;
}